<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | DoubtResolution</title>
    <link rel="stylesheet" href="/stylel.css">
</head>

<body>
    <!-- Header Section -->
    <header>
        <div class="container">
            <div class="logo">
                <h1><a href="/">X Spark 0.1</a></h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/index#features">Features</a></li>
                    <li><a href="/index#contact">Contact</a></li>
                </ul>
            </nav>
            <div class="mobile-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Login Section -->
    <section class="auth-section">
        <div class="container">
            <div class="b">
                <div class="wrapper">
                    <h1>Login</h1>
                    <form action="/login" method="POST">
                        <div class="input-box">
                            <input type="email" name="email" id="email" placeholder="E-mail" required>
                        </div>
                        <div class="input-box">
                            <input type="password" name="password" id="password" placeholder="Password" required>
                        </div>
                        <button class="btn" type="submit">Login</button>
                        <div class="acc">
                            <a href="/register">Don't have an account? Create one now</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer Section -->
    <footer>
        <div class="container">
            <p>&copy; 2024 X Spark 0.1. All Rights Reserved.</p>
        </div>
    </footer>
</body>

</html>