<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit a Problem</title>
    
</head>
<body>
    <div class="form-container">
        <h2>Submit a Problem</h2>
        <form action="/submit-problem/<%= user._id %>" method="POST">
            <label for="subject">Subject:</label>
            <input type="text" id="subject" name="subject" required>

            <label for="topic">Topic:</label>
            <input type="text" id="topic" name="topic" required>

            <label for="description">Problem Description:</label>
            <textarea id="description" name="description" required></textarea>

            <button type="submit">SubmitProblem</button>
        </form>
    </div>
</body>
</html>
